<%- include ("./partials/head") %> <%-include("./partials/header")%>
<div class="row container-fluid position-relative">

    <% listings.forEach(listing => { %>
      
        <div class="card m-2 justify-content-centre column lg-4 position-static " style="width: 18rem">
            <div class="card-body"  style="width: 18rem">
                <h2 class="card-title"><%=listing.city%></h4>
                    <img src=<%= listing.iji %>  alt="" class="card-mage-top">
                    <p class="card-text"><%=listing.description%></p>
                    <h6>No of rooms:<%= listing.rooms %> </h6>
                    <p class="card-text">Price range: <%=listing.range%></p>
                    <a href="" class="btn btn-primary streched-link">Contact PO</a>
        
            </div>
         </div>
       
       <% }) %>
</div>
<%-include("./partials/foot") %>
